:root{
    --color-body-white:#FFFFFF;
    
    --color-body-black:#212121;

    --color-body-gray:#757575;

    --color-body-black_3:#2F303A;

    --color-body-blue:#2196F3;
    
    --color-body-gray_2:#FFFFFF99;

    --color-body-white_2:#F5F4FA;

    --color-body-black_2:#000000;
}

.header{
    background-color: var(--color-body-white);
}

.logo{
    color: var(--color-body-blue);
    font-size: 26px;
}

.logo_current_1{
    color: var(--color-body-black_2);
    font-size: 26px;
}

.link_active{
    font-size: 14px;
    color: var(--color-body-black);
}

.link_current{
    color: var(--color-body-gray);
    font-size: 14px;
}

.section_caption{
    background-color: #2F303A;
}

.hero_title{
    font-size: 44px;
    color: var(--color-body-white);
}

.button{
    background-color: var(--color-body-blue);
    font-size: 16px;
    color: var(--color-body-white);
}



.subject_medium{
    font-size: 14px;
    color: var(--color-body-black);
}

.tex_medium{
    font-size: 14px;
    color: var(--color-body-gray);
}

.caption_big{
    font-size: 36px;
    color: var(--color-body-black);
}

.aside_socials{
    background-color: var(--color-body-white_2);
}

.title_advertisement{
    color: var(--color-body-black);
    font-size: 16px;
}

.subtitle_small{
    color: var(--color-body-gray);
    font-size: 16px;
}


.footer{
    background-color: var(--color-body-black_3);
}

.logo_current_2{
    color: var(--color-body-white);
    font-size: 26px;
}

.link_text{
    color: var(--color-body-white);
    font-size: 14px;
}

.link_subtitle{
    font-size: 14px;
    color: var(--color-body-gray_2);
}


/* ПОРТФОЛІО */

.main-button{
    background-color: var(--color-body-white_2);
    font-size: 16px;
    color: var(--color-body-black);
}

.title-big{
    color: var(--color-body-black);
    font-size: 18px;
}

.subtitle{
    color: var(--color-body-gray);
    font-size: 16px;
}